<!DOCTYPE html>
<html>
  <head>
    <title>MoviesBooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-light bg-light d-flex">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="#">
          <%= fa_stacked_icon "camera-retro", base: "circle"%>
          Movie Booking
        </a>
      </div>

      <div class="user-section">
        <a><i class="fa fa-user"></i></a>
      </div>
    </div>
  </nav>

  <!--Main content-->
  <main class="container" style="min-height: 500px;">
    <%= yield %>
  </main>

  <!--Footer-->
  <footer class="container footer">
    <nav class="navbar d-flex">
      <ul>
        <li>Acerca de nosotros </li>
      </ul>
      <p> © 2020 Movie Booking </p>
    </nav>
  </footer>


  </body>
</html>
